<head>
    <style>
      body {
        margin: 0;
      }
    </style>
    <script src="//unpkg.com/three"></script>
    <script src="./dist/globe.gl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.5.3/lottie_svg.min.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/qty5bax.css" />
    <link rel="stylesheet" href="./stylesheet.css" />
  </head>
  
  <body style="background-color: black;">
  <div id="header" style="position: relative; display: inline-block">
      <div id="globeViz" style="position: relative; display: inline-block"></div>
      <p
          style="
          width: 80vw;
          height: 60px;
          top: 30px;
          right: 40px;
          position: absolute;
          text-align: right;
          color: white;
          font-family: pinecone-mvb, sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: 32px;
          margin: 0px;
          "
      >
          Vijay Sridhar
      </p>
      <p
          style="
          width: 80vw;
          height: 20px;
          top: 70px;
          right: 40px;
          position: absolute;
          text-align: right;
          color: white;
          opacity: 0.5;
          font-family: pinecone-mvb, sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: 24px;
          margin: 0px;
          "
      >
          Travel Log
      </p>
      <p
          style="
          width: 80vw;
          height: 40px;
          bottom: 80px;
          left: 40px;
          position: absolute;
          text-align: left;
          color: white;
          font-family: pinecone-mvb, sans-serif;
          font-weight: 400;
          font-style: normal;
          transition: opacity 0.5s;
          -webkit-transition: opacity 0.5s; /* Safari */
          font-size: 32px;
          margin: 0px;
          "
          id="city_name"
      >
          New York, NY
      </p>
      <p
          style="
          width: 80vw;
          height: 40px;
          bottom: 40px;
          left: 40px;
          position: absolute;
          text-align: left;
          color: white;
          opacity: 0.5;
          font-family: pinecone-mvb, sans-serif;
          font-weight: 400;
          font-style: normal;
          transition: opacity 0.5s;
          -webkit-transition: opacity 0.5s; /* Safari */
          font-size: 24px;
          margin: 0px;
          "
          id="season_name"
      >
          Fall '22
      </p>
      <img class="down_arrow" src="./images/down_icon.png" />
  
  </div>
  
  <div class="content">
  <div class="left">
      <img class="propic" src="./images/propic.png" />
      <p class="description">Hey! I'm <span style="color:rgba(255,255,255,1.0)">Vijay</span>.<br><br>I'm a 24 year old <span style="color:rgba(255,255,255,1.0)">product engineer</span> and <span style="color:rgba(255,255,255,1.0)">designer</span> based out of <span style="color:rgba(255,255,255,1.0)">NYC</span>.</p>
      <p class="description">I've been <span style="color:rgba(255,255,255,1.0)">designing software</span> and <span style="color:rgba(255,255,255,1.0)">writing code</span> since I was 13 years old.<br><br>I love building things that bring a <span style="color:rgba(255,255,255,1.0)">sense of joy</span> and deeply value <span style="color:rgba(255,255,255,1.0)">human-centered design</span> principles.<br><br>I'm a <span style="color:rgba(255,255,255,1.0)">just-in-time learner</span> & can build pretty much any software - but I specialize in <span style="color:rgba(255,255,255,1.0)">iOS development</span> & <span style="color:rgba(255,255,255,1.0)">design</span>.</p>
  
      <video class="signature" autoplay muted playsinline infinite>
        <source src="./videos/signature.mp4" type="video/mp4">
        vsridhar
      </video>
      
      <p class="section_title">contact me</p>
  
      <form name="contact" method="POST" data-netlify="true">
          <div class="contact-grid-item">
          
          <textarea type="text" name="name" placeholder="name" class="name-input-field" id="name-text-area"></textarea>
          
          </div>
          
          <div class="contact-grid-item">
          
          <textarea type="text" name="form" placeholder="what's on your mind?" class="form-input-field" id="form-text-area"></textarea>
          
          </div>
          <button type="submit" class="bodymovinanim fillwhite send-button" id="send-button"></button>
      </form>
  
          <script>
            let iconMenu = document.querySelector('.bodymovinanim');
  
            let animationMenu = bodymovin.loadAnimation({
                    container: iconMenu,
                    renderer: 'svg',
                    loop: false,
                    autoplay: false,
                    path: "https://lottie.host/528977b5-4e1d-4620-9c61-fde3bff1a9ae/7sxT4D8uaI.json"
            });
  
            var directionMenu = 1;
              iconMenu.addEventListener('mouseenter', (e) => {
              animationMenu.setDirection(directionMenu);
              animationMenu.play();
            });
  
              iconMenu.addEventListener('mouseleave', (e) => {
              animationMenu.setDirection(-directionMenu);
              animationMenu.play();
            });
  
            function testFunction() { console.log("YAHOOOOOOOOO")}
            function myFunction() { if (document.getElementById('name-text-area').value && document.getElementById('form-text-area').value) { document.getElementById('send-button').disabled = false; } else { document.getElementById('send-button').disabled = true; } } document.getElementById('name-text-area').addEventListener('input', myFunction); document.getElementById('form-text-area').addEventListener('input', myFunction);
          </script>
      </div>
  
  
  <div class="right">
  <div class="life">
      <p class="section_title">life</p>
      <div class="video_grid">
      <video muted playsinline id="video-1" class="life_video" style="margin-left: 0px !important;">
          <source src="./videos/life_1.mp4" type="video/mp4">
      </video>
      <video muted playsinline id="video-2" class="life_video">
          <source src="./videos/life_2.mp4" type="video/mp4">
      </video>
      <video muted playsinline id="video-3" class="life_video" >
          <source src="./videos/life_3.mp4" type="video/mp4">
      </video>
      <video muted playsinline id="video-4" class="life_video">
          <source src="./videos/life_4.mp4" type="video/mp4">
      </video>
    </div>
    <span class="photo_website_link">my photo website <img class="right_arrow" src="./images/right_icon.png" />
  </span>
  </div>
  
  <div class="resume">
      <p class="section_title">work</p>
      <div class="resume_item">
        <img class="resume_icon" src="./images/mood_icon.png" />
        <div class="resume_block">
          <span class="resume_title">mood</span>
          <span class="resume_position">ios lead</span>
          <span class="resume_time">‘22</span>
          <span class="resume_info"
            >install <img class="right_arrow" src="./images/right_icon.png" />
          </span>
        </div>
      </div>
  
      <div class="resume_item">
        <img class="resume_icon" src="./images/meta_icon.png" />
        <div class="resume_block">
          <span class="resume_title">meta</span>
          <span class="resume_position">sw eng (xr maps)</span>
          <span class="resume_time">‘21-’22</span>
          <span class="resume_info">🤫</span>
        </div>
      </div>
  
      <div class="resume_item">
        <img class="resume_icon" src="./images/sg_icon.png" />
        <div class="resume_block">
          <span class="resume_title">supergreat</span>
          <span class="resume_position">ios lead</span>
          <span class="resume_time">‘20-’21</span>
          <span class="resume_info"
            >install <img class="right_arrow" src="./images/right_icon.png" />
          </span>
        </div>
      </div>
  
      <img class="move_indicator" src="./images/move_indicator.svg" />
  
  
      <div class="resume_item">
        <img class="resume_icon" src="./images/cm_icon.png" />
        <div class="resume_block">
          <span class="resume_title">clearmotion</span>
          <span class="resume_position">director, mapping</span>
          <span class="resume_time">‘16-’19</span>
          <span class="resume_info"
            >watch
            <img class="right_arrow" src="./images/right_icon.png" />
          </span>
        </div>
      </div>
  
      <div class="resume_item">
        <img class="resume_icon" src="./images/mapkin_icon.png" />
        <div class="resume_block">
          <span class="resume_title">mapkin</span>
          <span class="resume_position">ios lead</span>
          <span class="resume_time">‘15-’16</span>
          <span class="resume_info" style="opacity: 50%"
            >acquired by verizon</span
          >
        </div>
      </div>
  
      <p class="mini_section_title">awards</p>
  
      <div class="resume_item">
        <img class="resume_icon" src="./images/cm_icon.png" />
        <div class="resume_block">
          <span class="resume_title">US Patent 2021/0055740</span>
          <span class="resume_position">road surface based vehicle control</span>
        </div>
      </div>
  
      <div class="resume_item">
          <img class="resume_icon" src="./images/apple_icon.png" />
          <div class="resume_block">
            <span class="resume_title">wwdc student scholarship</span>
            <span class="resume_position">awarded in 2013 & 2014</span>
          </div>
        </div>
  </div>
  </div>
  </div>
  
  <!-- <div class="bottom">
  
  </div> -->
  
  
  
  </body>
  
  <script>
    const ARC_REL_LEN = 0.4; // relative to whole arc
    const FLIGHT_TIME = 1000;
    const NUM_RINGS = 3;
    const RINGS_MAX_R = 1; // deg
    const RING_PROPAGATION_SPEED = 1; // deg/sec
  
    const globe = Globe()
      .globeImageUrl("/cities.jpg")
      // .bumpImageUrl('./bump3.jpg')
      .arcColor(() => "darkOrange")
      .backgroundColor("#000000")
      .onGlobeClick(emitArc)
      .arcDashLength(ARC_REL_LEN)
      .enablePointerInteraction(true)
      .showAtmosphere(false)
      .arcDashGap(2)
      .arcDashInitialGap(1)
      .arcStroke(0.25)
      .arcAltitudeAutoScale(0.5)
      .arcColor(() => (t) => `rgba(255,255,255,${1 - (1 - t)})`)
      .arcDashAnimateTime(FLIGHT_TIME)
      .arcsTransitionDuration(0)
      .ringColor(() => (t) => `rgba(255,255,255,${1 - t})`)
      .ringMaxRadius(RINGS_MAX_R)
      .ringPropagationSpeed(RING_PROPAGATION_SPEED)
      .ringRepeatPeriod((FLIGHT_TIME * ARC_REL_LEN) / NUM_RINGS)(
      document.getElementById("globeViz")
    );
  
    globe.pointOfView({ lat: 40.7128, lng: -74.006, altitude: 1.6 });
  
    // remove default lights
    setTimeout(function () {
      globe.scene().children.forEach(function (e) {
        if (e.isLight) {
          scene.remove(e);
        }
      });
    }, 10);
  
    setTimeout(function () {
      globe.scene().children.forEach(function (e) {
        if (e.isLight) {
          scene.remove(e);
        }
      });
  
      // add new ambient light
      ambientLight = new THREE.AmbientLight(0xffffff);
      globe.scene().add(ambientLight);
    }, 20);
  
    var observer = new IntersectionObserver(function(entries) { 
    if(entries[0].isIntersecting) { 
        startAnimation();
      }
    });
  
    function startAnimation() {
      document.getElementById("video-1").style.opacity = 1.0;
      document.getElementById("video-1").play();
  
      setTimeout(function () {
        document.getElementById("video-1").style.opacity = 0.25;
        document.getElementById("video-2").style.opacity = 1.0;
        document.getElementById("video-2").play();
      }, 2800 * 1);
  
      setTimeout(function () {
        document.getElementById("video-1").style.opacity = 0.25;
        document.getElementById("video-2").style.opacity = 0.25;
        document.getElementById("video-3").style.opacity = 1.0;
        document.getElementById("video-3").play();
      }, 2800 * 2);
  
      setTimeout(function () {
        document.getElementById("video-1").style.opacity = 0.25;
        document.getElementById("video-2").style.opacity = 0.25;
        document.getElementById("video-3").style.opacity = 0.25;
        document.getElementById("video-4").style.opacity = 1.0;
        document.getElementById("video-4").play();
      }, 2800 * 3);
  
      setTimeout(function () {
        startAnimation();
      }, 2900 * 4);
    }
    
    observer.observe(document.querySelector("#video-1"));
  
    const cities = [
      {
        city: "porches",
        latitude: "37.0902",
        longitude: "-8.2439",
        season: "fall '22",
      },
      {
        city: "new york",
        latitude: "40.7128",
        longitude: "-74.006",
        season: "fall '22",
      },
      {
        city: "denver",
        latitude: "39.7392",
        longitude: "-104.9903",
        season: "summer '22",
      },
      {
        city: "new york",
        latitude: "40.7128",
        longitude: "-74.006",
        season: "summer '22",
      },
      {
        city: "calgary",
        latitude: "51.0486",
        longitude: "-114.0708",
        season: "summer '22",
      },
      {
        city: "new york",
        latitude: "40.7128",
        longitude: "-74.006",
        season: "summer '22",
      },
      {
        city: "san francisco",
        latitude: "37.7749",
        longitude: "-122.4194",
        season: "summer '22",
      },
      {
        city: "los angeles",
        latitude: "34.0522",
        longitude: "-118.2437",
        season: "summer '22",
      },
      {
        city: "san francisco",
        latitude: "37.7749",
        longitude: "-122.4194",
        season: "summer '22",
      },
      {
        city: "new york",
        latitude: "40.7128",
        longitude: "-74.006",
        season: "summer '22",
      },
      {
        city: "lima",
        latitude: "-12.0464",
        longitude: "-77.0428",
        season: "spring '22",
      },
      {
        city: "cusco",
        latitude: "-13.5319",
        longitude: "-71.9674",
        season: "spring '22",
      },
      {
        city: "new york",
        latitude: "40.7128",
        longitude: "-74.006",
        season: "spring '22",
      },
      {
        city: "frankfurt",
        latitude: "50.1109",
        longitude: "8.6821",
        season: "spring '22",
      },
      {
        city: "zillertal",
        latitude: "47.3386",
        longitude: "11.6954",
        season: "winter '22",
      },
      {
        city: "frankfurt",
        latitude: "50.1109",
        longitude: "8.6821",
        season: "winter '22",
      },
      {
        city: "budapest",
        latitude: "47.4979",
        longitude: "19.0402",
        season: "winter '22",
      },
      {
        city: "frankfurt",
        latitude: "50.1109",
        longitude: "8.6821",
        season: "winter '22",
      },
      {
        city: "new york",
        latitude: "40.7128",
        longitude: "-74.006",
        season: "winter '22",
      },
      {
        city: "park city",
        latitude: "40.6461",
        longitude: "-111.4949",
        season: "winter '22",
      },
      {
        city: "new york",
        latitude: "40.7128",
        longitude: "-74.006",
        season: "winter '22",
      },
      {
        city: "telluride",
        latitude: "37.937",
        longitude: "-107.812",
        season: "winter '22",
      },
      {
        city: "new york",
        latitude: "40.7128",
        longitude: "-74.006",
        season: "winter '22",
      },
      {
        city: "aruba",
        latitude: "12.5211",
        longitude: "-69.9683",
        season: "winter '22",
      },
      {
        city: "new york",
        latitude: "40.7128",
        longitude: "-74.006",
        season: "winter'22",
      },
    ];
  
    var timer;
    var timerIndex = 0;
  
    var lastSeasonShown = "fall '22";
  
    function startTimer() {
      timer = setInterval(function () {
        var city = cities[timerIndex];
  
        document.getElementById("city_name").style.opacity = 0;
  
        if (city["season"] != lastSeasonShown) {
          document.getElementById("season_name").style.opacity = 0;
          lastSeasonShown = city["season"];
        }
  
        setTimeout(function () {
          document.getElementById("city_name").innerText = city["city"];
          document.getElementById("season_name").innerText = city["season"];
  
          document.getElementById("city_name").style.opacity = 1;
          document.getElementById("season_name").style.opacity = 0.5;
        }, 500);
  
        emitArc({ lat: city["latitude"], lng: city["longitude"] });
        timerIndex++;
      }, 2500);
    }
  
    function stopTimer() {
      clearInterval(timer);
    }
  
    startTimer();
    let prevCoords = { lat: 40.7128, lng: -74.006 };
  
    function emitArc({ lat: endLat, lng: endLng }) {
      const { lat: startLat, lng: startLng } = prevCoords;
      setTimeout(() => {
        prevCoords = { lat: endLat, lng: endLng };
      }, FLIGHT_TIME);
  
      const arc = { startLat, startLng, endLat, endLng };
      globe.arcsData([...globe.arcsData(), arc]);
      setTimeout(
        () => globe.arcsData(globe.arcsData().filter((d) => d !== arc)),
        FLIGHT_TIME * 2
      );
  
      const srcRing = { lat: startLat, lng: startLng };
      globe.ringsData([...globe.ringsData(), srcRing]);
      setTimeout(
        () => globe.ringsData(globe.ringsData().filter((r) => r !== srcRing)),
        FLIGHT_TIME * ARC_REL_LEN
      );
  
      setTimeout(() => {
        const targetRing = { lat: endLat, lng: endLng };
        globe.ringsData([...globe.ringsData(), targetRing]);
        setTimeout(
          () =>
            globe.ringsData(globe.ringsData().filter((r) => r !== targetRing)),
          FLIGHT_TIME * ARC_REL_LEN
        );
      }, FLIGHT_TIME);
  
      globe.pointOfView({ lat: endLat, lng: endLng + 20, alt: 1.6 }, 2000);
    }
  </script>
  