.header_title {
  height: 60px;
  top: 10px;
  right: 40px;
  position: absolute;
  text-align: right;
  color: white;
  font-family: pinecone-mvb, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  margin: 0px;
}

.header_subtitle {
  height: 20px;
  top: 50px;
  right: 40px;
  position: absolute;
  text-align: right;
  color: white;
  opacity: 0.5;
  font-family: pinecone-mvb, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  margin: 0px;
}

.city-name {
  height: 40px;
  bottom: 60px;
  left: 40px;
  position: absolute;
  text-align: left;
  color: white;
  font-family: pinecone-mvb, sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s; /* Safari */
  font-size: 32px;
  margin: 0px;
}

.season-name {
  height: 40px;
  bottom: 20px;
  left: 40px;
  position: absolute;
  text-align: left;
  color: white;
  opacity: 0.5;
  font-family: pinecone-mvb, sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s; /* Safari */
  font-size: 24px;
  margin: 0px;
}

a, u {
  text-decoration: none;
  color: white;
}

.send-button {
  background-color: transparent;
  border-width: 0px;
  position: absolute;
  height: 0px;
  width: 180px;
  cursor: pointer;
  left: calc(min(450px, 100%) - 180px);
  margin-top: 12px;
}

@media only screen and (min-width: 601px) {

  .mobile-only {
    display: none;
  }
  .desktop-only {
    display: block;
  }

  /* MARK: Header */

  .header_title {
    top: 20px;
    right: 4vw;
    font-size: 24px;
  }

  .header_subtitle {
    top: 50px;
    right: 4vw;
    font-size: 18px;
  }

  .city-name {
    bottom: 40px;
    left: 4vw;
    font-size: 24px;
  }

  .season-name {
    bottom: 10px;
    left: 4vw;
    font-size: 18px;
  }

  .down_arrow {
    height: 36px;
    position: absolute;
    bottom: 30px;
    right: 4vw;
    width: 30px;
    opacity: 0.7;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s; /* Safari */
    animation: wiggle 2s ease-in-out infinite;
  }

  /* MARK: Content */

  .content {
    width: 100vw;
    height: 1400px;
  }

  .left {
    width: min(40vw, 700px);
    position: absolute;
    left: 5vw;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: left;
  }

  .right {
    width: min(45vw, 787px);
    position: absolute;
    right: 5vw;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: right;
  }

  @media only screen and (min-width: 1900px) {
    .right {
      right: 10vw;
    }

    .left {
      left: 10vw;
    }

    .header_title {
      right: 10vw;
    }
  
    .header_subtitle {
      right: 10vw;
    }
  
    .city-name {
      left: 10vw;
    }
  
    .season-name {
      left: 10vw;
    }

    .down_arrow {
      right: 10vw;
    }
  }

  @media only screen and (min-width: 1400px) and (max-width: 1900px) {
    .right {
      right: 5vw;
    }

    .left {
      left: 5vw;
    }

    .header_title {
      right: 5vw;
    }
  
    .header_subtitle {
      right: 5vw;
    }
  
    .city-name {
      left: 5vw;
    }
  
    .season-name {
      left: 5vw;
    }

    .down_arrow {
      right: 5vw;
    }
  }

  .video_grid {
    width: min(45vw, 787px);
    height: calc((min(45vw, 787px) / 4 / 0.61) + 40px);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .life_video {
    height: calc(min(45vw, 787px) / 4 / 0.61);
    width: auto;
    margin-top: 20px;
    margin-left: 0px;
    padding-left: 0px;
    opacity: 0.25;
    border-radius: 20px;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s; /* Safari */
  }

  .propic {
    width: 120px;
    height: 120px;
    margin-top: 30px;
    padding-bottom: 15px;
  }

  /* MARK: Section Titles */

  .section_title {
    font-family: pinecone-mvb, sans-serif;
    font-size: 24px;
    text-align: left;
    color: white;
    margin-bottom: 0px;
  }

  .mini_section_title {
    font-family: pinecone-mvb, sans-serif;
    font-size: 18px;
    text-align: left;
    color: white;
    opacity: 40%;
    margin-top: 40px;
    margin-bottom: 0px;
  }

  .photo_website_link {
    color: white;
    font-family: pinecone-mvb-condensed, sans-serif;
    font-size: 24px;
    margin-right: 0px;
    float: right;
  }

  /* MARK: Resume */

  .resume {
    display: grid;
    margin-bottom: 0px;
  }

  .resume_block {
    display: grid;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 70px;
    color: white;
    /* align-items: bottom; */
    font-family: pinecone-mvb, sans-serif;
    font-size: 24px;
    text-align: right;
    grid-template-columns: auto auto;
    grid-template-rows: 45% 55%;
    grid-template-areas:
      "title time"
      "position info";
  }

  .move_indicator {
    margin: auto;
    padding-top: 40px;
    padding-bottom: 25px;
    width: 100%;
    height: 70px;
  }

  .resume_item {
    float: left;
    padding-top: 20px;
  }

  .resume_icon {
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 20px;
  }

  .resume_title {
    grid-area: title;
    text-align: left;
  }

  .resume_position {
    grid-area: position;
    text-align: left;
    font-family: pinecone-mvb-condensed, sans-serif;
    font-size: 24px;
    opacity: 50%;
  }

  .resume_time {
    grid-area: time;
    text-align: right;
    opacity: 50%;
  }

  .resume_info {
    grid-area: info;
    text-align: right;
    font-family: pinecone-mvb-condensed, sans-serif;
    opacity: 100%;
  }

  .description {
    color: rgba(255, 255, 255, 0.5);
    font-family: pinecone-mvb-condensed, sans-serif;
    font-size: 24px;
    width: min(450px, 100%);
  }

  /* MARK: Contact Field Form */

  .name-input-field::placeholder {
    font-family: pinecone-mvb, sans-serif;
    font-size: 18px;
    opacity: 0.2;
    color: white;
  }

  .name-input-field {
    margin-top: 24px;
    resize: none;
    padding-left: 20px;
    padding-top: 16px;
    font-family: pinecone-mvb, sans-serif;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    opacity: 100%;
    width: min(450px, 100%);
    height: 60px;
    border-radius: 20px;
    border-width: 0px;
  }

  .form-input-field::placeholder {
    font-family: pinecone-mvb, sans-serif;
    font-size: 18px;
    opacity: 0.2;
    position: relative;
    top: 0px;
    color: white;
  }

  .name-input-field:focus {
    outline: none !important;
    box-shadow: 0 0 10px #c3c3c381;
    transition: box-shadow 0.25s;
  }

  .form-input-field:focus {
    outline: none !important;
    box-shadow: 0 0 10px #c3c3c381;
    transition: box-shadow 0.25s;
  }

  .form-input-field {
    resize: vertical;
    padding-left: 20px;
    padding-top: 16px;
    padding-bottom: 20px;
    margin-top: 16px;
    font-family: pinecone-mvb, sans-serif;
    font-size: 18px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    opacity: 100%;
    width: min(450px, 100%);
    height: 160px;
    border-radius: 20px;
    border-width: 0px;
  }

  .fillwhite {
    fill: white;
  }

  .bottom {
    width: 100vw;
    height: 100px;
    position: relative;
    bottom: 0px;
  }

  /* MARK: Signature */

  .signature {
    width: 137px;
    height: 81px;
    margin-bottom: 30px;
    position: relative;
  }
}

/* MARK: Animation Code */

.slide-right {
  animation: slide-right 1s;
}

@keyframes slide-right {
  from {
    transform: translateX(-16px);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes wiggle {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 600px) {

  .mini_city {
    width: 58% !important;
    margin-left: 52% !important;
    margin-top: -40px !important;
  }

  .header_title {
    top: 10px;
    right: 20px;
    font-size: 24px;
  }

  .header_subtitle {
    top: 40px;
    right: 20px;
    font-size: 18px;
  }

  .city-name {
    bottom: 30px;
    left: 24px;
    font-size: 24px;
  }

  .season-name {
    bottom: 0px;
    left: 24px;
    font-size: 18px;
  }

  .mobile-only {
    display: block;
  }
  .desktop-only {
    display: none;
  }

  /* MARK: Header */

  .down_arrow {
    height: 32px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 26px;
    opacity: 0.7;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s; /* Safari */
    animation: wiggle 2s ease-in-out infinite;
  }

  /* MARK: Content */

  .content {
    width: calc(100% - 40px);
    left: 20px;
    position: absolute;
    height: 1600px;
  }

  .left {
    width: min(40vw, 700px);
    position: absolute;
    left: 5vw;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: left;
  }

  .right {
    width: min(45vw, 787px);
    position: absolute;
    right: 5vw;
    display: flex;
    flex-direction: column;
    align-items: top;
    justify-content: right;
  }

  .video_grid {
    width: 90vw;
    height: calc((90vw / 4 / 0.61) + 20px);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .life_video {
    height: calc(90vw / 4 / 0.61);
    width: auto;
    margin-top: 20px;
    margin-left: 0px;
    padding-left: 0px;
    opacity: 0.25;
    border-radius: 20px;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s; /* Safari */
  }

  .propic {
    width: 30vw;
    height: 30vw;
    margin-top: 150px;
    padding-bottom: 15px;
  }

  /* MARK: Section Titles */

  .section_title {
    font-family: pinecone-mvb, sans-serif;
    font-size: 32px;
    text-align: left;
    color: white;
    margin-bottom: 0px;
  }

  .mini_section_title {
    font-family: pinecone-mvb, sans-serif;
    font-size: 24px;
    text-align: left;
    color: white;
    opacity: 40%;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .photo_website_link {
    color: white;
    font-family: pinecone-mvb-condensed, sans-serif;
    font-size: 48px;
    margin-right: 0px;
    margin-top: 0px;
    float: right;
  }

  .life {
  }

  .work {
    margin-top: 60px;
  }

  @media only screen and (max-width: 1100px) {
    .section_title {
      font-family: pinecone-mvb, sans-serif;
      font-size: 24px;
      text-align: left;
      color: white;
      margin-bottom: 0px;
      margin-top: 0px;
    }

    .mini_section_title {
      font-family: pinecone-mvb, sans-serif;
      font-size: 18px;
      text-align: left;
      color: white;
      opacity: 40%;
      margin-top: 30px;
      margin-bottom: 0px;
    }

    .photo_website_link {
      font-size: 18px;
    }

    .right_arrow {
      height: 18px;
      width: 18px;
      float: right;
      padding-top: 5px;
      margin-right: 0px;
      margin-left: 4px;
    }
  }

  /* MARK: Resume */

  .resume {
    display: grid;
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .resume_block {
    display: grid;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 70px;
    color: white;
    /* align-items: bottom; */
    font-family: pinecone-mvb, sans-serif;
    font-size: 24px;
    text-align: right;
    grid-template-columns: auto auto;
    grid-template-rows: 45% 55%;
    grid-template-areas:
      "title time"
      "position info";
  }

  .move_indicator {
    margin: auto;
    padding-top: 40px;
    padding-bottom: 30px;
    width: 100%;
    height: 50px;
  }

  .resume_item {
    float: left;
    padding-top: 20px;
  }

  .resume_icon {
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 20px;
  }

  .resume_title {
    grid-area: title;
    text-align: left;
    color: inherit; /* Inherit text color of parent element. */
    text-decoration: none; /* Remove underline. */
  }

  .resume_position {
    grid-area: position;
    text-align: left;
    font-family: pinecone-mvb-condensed, sans-serif;
    font-size: 24px;
    opacity: 50%;
  }

  .resume_time {
    grid-area: time;
    text-align: right;
    opacity: 50%;
  }

  .resume_info {
    grid-area: info;
    text-align: right;
    font-family: pinecone-mvb-condensed, sans-serif;
    opacity: 100%;
  }

  .description {
    color: rgba(255, 255, 255, 0.5);
    font-family: pinecone-mvb-condensed, sans-serif;
    font-size: 18px;
    width: 100%;
  }

  .propic {
    height: 28vw;
    width: 28vw;
    margin-top: 30px;
  }

  .description {
    margin-top: 30px;
    font-size: 18px;
    width:85vw !important;
  }

  .resume_block {
    height: 58px;
    transform: translateY(1px);
  }

  .resume_icon {
    width: 58px;
    height: 58px;
    float: left;
    margin-right: 16px;
  }

  .resume_item {
    padding-top: 16px;
  }

  .resume_title {
    font-size: 18px;
  }

  .resume_position {
    font-size: 18px;
  }

  .resume_time {
    font-size: 18px;
  }

  .resume_info {
    font-size: 18px;
  }

  /* MARK: Contact Field Form */

  .name-input-field::placeholder {
    font-family: pinecone-mvb, sans-serif;
    font-size: 24px;
    opacity: 0.2;
    color: white;
  }

  .name-input-field {
    margin-top: 28px;
    resize: none;
    padding-left: 20px;
    padding-top: 12px;
    font-family: pinecone-mvb, sans-serif;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    opacity: 100%;
    width: 50%;
    height: max(54px, 6vh);
    border-radius: 20px;
    border-width: 0px;
  }

  .form-input-field::placeholder {
    font-family: pinecone-mvb, sans-serif;
    font-size: 24px;
    opacity: 0.2;
    position: relative;
    top: 0px;
    color: white;
  }

  .name-input-field:focus {
    outline: none !important;
    box-shadow: 0 0 10px #c3c3c381;
    transition: box-shadow 0.25s;
  }

  .form-input-field:focus {
    outline: none !important;
    box-shadow: 0 0 10px #c3c3c381;
    transition: box-shadow 0.25s;
  }

  .form-input-field {
    resize: vertical;
    padding-left: 20px;
    padding-top: 12px;
    padding-bottom: 20px;
    margin-top: 16px;
    font-family: pinecone-mvb, sans-serif;
    font-size: 24px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    opacity: 100%;
    width: 100%;
    height: 26vh;
    border-radius: 20px;
    border-width: 0px;
  }

  .name-input-field {
    margin-top: 12px;
    padding-top: 13px;
    font-size: 18px;
  }
  .name-input-field::placeholder {
    font-family: pinecone-mvb, sans-serif;
    font-size: 18px;
  }
  .form-input-field {
    font-size: 18px;
  }
  .form-input-field::placeholder {
    font-family: pinecone-mvb, sans-serif;
    font-size: 18px;
  }

  .mobile_item_one {
    width: 100%;
    height: 250px;
    display: flex;
    margin-top: 0vh;
    flex-direction: row;
    align-items: center;
    justify-content: left;
  }

  .mobile_item_two {
    width: 100%;
    height: calc((90vw / 4 / 0.61) + 20px);
    margin-top: 0vh;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: top;
  }

  .mobile_item_three {
    width: 100%;
    height: 1250px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }

  .mobile_item_four {
    width: 100%;
    height: 300px;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }

  .fillwhite {
    fill: white;
  }

  .bottom {
    width: 100vw;
    height: 100px;
    position: relative;
    bottom: 0px;
  }

  /* MARK: Signature */

  .signature {
    width: 137px;
    height: 81px;
    padding-top: 24vh;
    padding-left: calc(50% - 68.5px);
    /* margin-bottom: 300px; */
    padding-bottom: 20vh;
  }
}


@media only screen and (max-width: 1224px) {
  .section_title {
    font-family: pinecone-mvb, sans-serif;
    font-size: 24px;
    text-align: left;
    color: white;
    margin-bottom: 0px;
  }

  .description {
    font-size: 16px !important;
  }

  .mini_section_title {
    font-family: pinecone-mvb, sans-serif;
    font-size: 18px;
    text-align: left;
    color: white;
    opacity: 40%;
    margin-bottom: 0px;
  }

  .photo_website_link {
    font-size: 18px;
  }

  .resume_block {
    height: 58px !important;
  }

  .resume_icon {
    width: 58px !important;
    height: 58px !important;
    float: left;
    margin-right: 16px;
  }

  .resume_item {
    padding-top: 16px;
  }

  .resume_title {
    font-size: 18px;
  }

  .resume_position {
    font-size: 18px !important;
  }

  .resume_time {
    font-size: 18px;
  }

  .resume_info {
    font-size: 18px;
  }
  
  .right_arrow {
    height: 16px;
    width: 16px;
    float: right;
    padding-top: 6px;
    margin-right: 0px;
    margin-left: 4px;
  }

  .award {
    margin-top: 0px !important;
  }

  .long_text_title {
    margin-top: 6px !important;
    font-size: 16px !important;
  }

  .long_text_subtitle {
    margin-top: 2px !important;
    font-size: 14px !important;
  }
}

@media only screen and (min-width: 969px) and (max-width: 1224px) {
  .section_title {
    font-family: pinecone-mvb, sans-serif;
    font-size: 18px;
    text-align: left;
    color: white;
    margin-bottom: 0px;
  }

  .description {
    font-size: 18px !important;
  }

  .mini_section_title {
    font-family: pinecone-mvb, sans-serif;
    font-size: 18px;
    text-align: left;
    color: white;
    opacity: 40%;
    margin-bottom: 0px;
  }

  .photo_website_link {
    font-size: 18px;
  }

  .resume_block {
    height: 58px !important;
  }

  .resume_icon {
    width: 58px !important;
    height: 58px !important;
    float: left;
    margin-right: 16px;
  }

  .resume_item {
    padding-top: 16px;
  }

  .resume_title {
    font-size: 18px;
  }

  .resume_position {
    font-size: 18px !important;
  }

  .resume_time {
    font-size: 18px;
  }

  .resume_info {
    font-size: 18px;
  }
  
  .right_arrow {
    height: 16px;
    width: 16px;
    float: right;
    padding-top: 6px;
    margin-right: 0px;
    margin-left: 4px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 968px) {
  .section_title {
    font-family: pinecone-mvb, sans-serif;
    font-size: 16px;
    text-align: left;
    color: white;
    margin-bottom: 0px;
  }

  .move_indicator {
    height: 25px !important;
    margin-top: 2px !important;
  }
  .description {
    font-size: 16px !important;
  }

  .mini_section_title {
    font-family: pinecone-mvb, sans-serif;
    font-size: 16px;
    text-align: left;
    color: white;
    opacity: 40%;
    margin-bottom: 0px;
  }

  .photo_website_link {
    font-size: 16px;
  }

  .resume_block {
    height: 54px !important;
  }

  .resume_icon {
    width: 50px !important;
    height: 50px !important;
    float: left;
    margin-right: 16px;
  }

  .resume_item {
    padding-top: 18px !important;
  }

  .resume_title {
    font-size: 16px;
  }

  .resume_position {
    font-size: 16px !important;
  }

  .resume_time {
    font-size: 16px;
  }

  .resume_info {
    font-size: 16px;
  }
  
  .right_arrow {
    height: 16px;
    width: 16px;
    float: right;
    padding-top: 4px;
    margin-right: 0px;
    margin-left: 4px;
  }

  .award {
    margin-top: 0px;
  }

  .long_text_title {
    margin-top: 3px;
    font-size: 16px !important;
  }

  .long_text_subtitle {
    margin-top: 2px;
    font-size: 14px !important;
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .section_title {
    font-family: pinecone-mvb, sans-serif;
    font-size: 16px;
    text-align: left;
    color: white;
    margin-bottom: 0px;
  }

  .description {
    font-size: 16px !important;
  }

  .mini_section_title {
    font-family: pinecone-mvb, sans-serif;
    font-size: 16px;
    text-align: left;
    color: white;
    opacity: 40%;
    margin-bottom: 0px;
  }

  .photo_website_link {
    font-size: 16px;
  }

  .resume_block {
    height: 44px !important;
  }

  .resume_icon {
    width: 42px !important;
    height: 42px !important;
    float: left;
    margin-right: 14px !important;
  }

  .resume_item {
    padding-top: 18px !important;
  }

  .resume_title {
    font-size: 14px;
  }

  .resume_position {
    font-size: 14px !important;
  }

  .resume_time {
    font-size: 14px;
  }

  .resume_info {
    font-size: 14px;
  }
  
  .name-input-field {
    margin-top: 18px;
    padding-top: 10px;
    height: 40px;
    border-radius: 16px;
    font-size: 14px;
  }

  .name-input-field::placeholder {
    font-family: pinecone-mvb, sans-serif;
    font-size: 14px;
  }
  .form-input-field {
    font-size: 14px;
    margin-top: 18px !important;
    border-radius: 16px;
  }

  .form-input-field::placeholder {
    font-family: pinecone-mvb, sans-serif;
    font-size: 14px;
  }

  .right_arrow {
    height: 14px;
    width: 14px;
    float: right;
    padding-top: 3px;
    margin-right: 0px;
    margin-left: 4px;
  }

  .award {
    margin-top: 0px;
  }

  .long_text_title {
    margin-top: 3px;
    font-size: 14px !important;
  }

  .long_text_subtitle {
    margin-top: 2px;
    font-size: 12px !important;
  }

  .move_indicator {
    height: 40px;
    margin-top: 0px;
  }
}